[Unit]
Description=Fetch Squid config from GCS before Squid starts
Before=squid.service
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/fetch-squid-config.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
